body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  transition: 0.30s ease-in-out;
  backdrop-filter: blur(5px);
}

.title,
.text {
  color: white;
}

#first {
  height: 100%;
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: auto;
}
.GetYourselfRegistered {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  animation: blink 1s ease-in-out infinite;
}
.orderBtn:hover {
  background-color: white;
  color: black;
}

.title {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: top right bottom left */
  /* padding: topbottom leftright */
  margin: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form>label {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}

.input-email {
  width: 200px;
  background-color: transparent;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px;
  margin: 10px;
}

.input-email:focus {
  outline: none;
  background-color: whitesmoke;
}

.input-email::placeholder {
  color: white;
}

